
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
.title-div{
width: 100%;
text-align: center;

    
}
.title{
    padding-top: 15px;
    color: white;
    background-color: black;
    height: 60px;
}
.currency-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 400px;
    height: 200px;
    border: 1px solid black;
    margin: 80px auto;
    

}
.main{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.input{
    width: 90px;
    height: 30px;

}
.select{
    width: 60px;
    height: 26px;
}   
.button-div{
    margin-top: 15px;
}

.exchange-button{
    width: 65px;
    height: 35px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}